<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="MQC_Service.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="ConnString" connectionString="Server=KEVING\SQLEXPRESS;Database=mgbackoffice;Trusted_Connection=True" />
  </connectionStrings>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <userSettings>
    <MQC_Service.Properties.Settings>
      <setting name="MQC_Service_localhost_MQC_WebService" serializeAs="String">
        <value>http://192.168.1.88/MQC_Webservice/MQC_WebService.asmx</value>
      </setting>
      <setting name="IsServer" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ClientDest" serializeAs="String">
        <value>C:\MQC_Local\</value>
      </setting>
      <setting name="ClientStoreID" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="RunTimer" serializeAs="String">
        <value>5000</value>
      </setting>
      <setting name="ClientDSN" serializeAs="String">
        <value>market</value>
      </setting>
    </MQC_Service.Properties.Settings>
  </userSettings>
</configuration>